


.submission-success-message {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}


.submission-success-text {
  font-size: 14px;
}



.submission-grade-section {
  margin-top: 20px;
}
